@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-unti-light text-unti-dark antialiased;
}

@layer utilities {
  .section {
    @apply w-full max-w-6xl mx-auto px-4 md:px-6 py-16 md:py-24;
  }
}
