@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-unti-surface text-unti-dark antialiased;
}

@layer utilities {
  .section {
    @apply w-full max-w-[1100px] mx-auto px-4 md:px-6 py-28;
  }
}
